@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Sedgwick+Ave+Display&family=Yanone+Kaffeesatz&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-image: url("https://images.unsplash.com/photo-1695552797661-3ba72a8a8874?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  font-family: "Yanone Kaffeesatz";
  overflow-x: hidden;
  color: yellow;
}

body {
  background-color: #27005D;
}

h1 {
  text-align: center;
  font-family: "Yanone Kaffeesatz";
  color: yellow;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  font-size: 3rem;
}

.subheading {
  font-size: 1.5rem;
  color: yellow;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.item:not(:first-child) {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.item__content {
  background-color: #35155d;
  color: yellow;
  text-align: center;
  padding: 7rem;
  border-radius: 7px;
}

.item > p {
  text-align: center;
}

.left {
  transform-origin: left center;
  transform: translateX(-50%);
}

.right {
  transform-origin: right center;
  transform: translateX(50%);
}

.slide-in {
  opacity: 1 !important;
  transform: translateX(0);
}

.remark {
  font-family: "Yanone Kaffeesatz";
  color: yellow;
  font-size: 30px;
}


.hom-btn {
  background-color: yellow;
  color: #35155d;
  font-family: "Yanone Kaffeesatz";
  padding: 5px 10px 10px;
  border-radius: 10px;
}